In [35]:
using Pkg
Pkg.add("CSV")
Pkg.add("DataFrames")
Pkg.add("CategoricalArrays")
Pkg.add("MLJ")
Pkg.add("MLJLinearModels")

   Resolving package versions...
  No Changes to `~/.julia/environments/v1.10/Project.toml`
  No Changes to `~/.julia/environments/v1.10/Manifest.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.10/Project.toml`
  No Changes to `~/.julia/environments/v1.10/Manifest.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.10/Project.toml`
  No Changes to `~/.julia/environments/v1.10/Manifest.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.10/Project.toml`
  No Changes to `~/.julia/environments/v1.10/Manifest.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.10/Project.toml`
  No Changes to `~/.julia/environments/v1.10/Manifest.toml`

In [ ]:
#Se não estiver no ambiente de Julia para executar o notebook pode alterar manualmente ou rodar esse comando
using IJulia
notebook()

In [36]:
using CSV, DataFrames, CategoricalArrays, MLJ
@eval @load LogisticClassifier pkg=MLJLinearModels
@eval @load OneHotEncoder

import MLJLinearModels ✔
import MLJModels ✔

[ Info: For silent loading, specify `verbosity=0`.
[ Info: For silent loading, specify `verbosity=0`.

OneHotEncoder

In [37]:
train_df = CSV.read("/content/train.csv", DataFrame)
test_df = CSV.read("/content/test.csv", DataFrame)

418×11 DataFrame
 Row │ PassengerId  Pclass  Name                               Sex      Age    ⋯
     │ Int64        Int64   String                             String7  Float6 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │         892       3  Kelly, Mr. James                   male          3 ⋯
   2 │         893       3  Wilkes, Mrs. James (Ellen Needs)   female        4
   3 │         894       2  Myles, Mr. Thomas Francis          male          6
   4 │         895       3  Wirz, Mr. Albert                   male          2
   5 │         896       3  Hirvonen, Mrs. Alexander (Helga …  female        2 ⋯
   6 │         897       3  Svensson, Mr. Johan Cervin         male          1
   7 │         898       3  Connolly, Miss. Kate               female        3
   8 │         899       2  Caldwell, Mr. Albert Francis       male          2
   9 │         900       3  Abrahim, Mrs. Joseph (Sophie Hal…  female        1 ⋯
  10 │         901       3  Davies, Mr. John Samuel            male          2
  11 │         902       3  Ilieff, Mr. Ylio                   male     missin
  ⋮  │      ⋮         ⋮                     ⋮                     ⋮         ⋮  ⋱
 409 │        1300       3  Riordan, Miss. Johanna Hannah""    female   missin
 410 │        1301       3  Peacock, Miss. Treasteall          female          ⋯
 411 │        1302       3  Naughton, Miss. Hannah             female   missin
 412 │        1303       1  Minahan, Mrs. William Edward (Li…  female        3
 413 │        1304       3  Henriksson, Miss. Jenny Lovisa     female        2
 414 │        1305       3  Spector, Mr. Woolf                 male     missin ⋯
 415 │        1306       1  Oliva y Ocana, Dona. Fermina       female        3
 416 │        1307       3  Saether, Mr. Simon Sivertsen       male          3
 417 │        1308       3  Ware, Mr. Frederick                male     missin
 418 │        1309       3  Peter, Master. Michael J           male     missin ⋯
                                                  7 columns and 397 rows omitted

In [38]:
features = [:Pclass, :Sex, :Age, :SibSp, :Parch, :Fare]
train_df = dropmissing(select(train_df, [:Survived; features]))
test_df = select(test_df, features)

# Garantindo tipos corretos
train_df.Sex = categorical(train_df.Sex)
test_df.Sex = categorical(test_df.Sex)

418-element CategoricalArray{String7,1,UInt32}:
 String7("male")
 String7("female")
 String7("male")
 String7("male")
 String7("female")
 String7("male")
 String7("female")
 String7("male")
 String7("female")
 String7("male")
 String7("male")
 String7("male")
 String7("female")
 ⋮
 String7("male")
 String7("male")
 String7("female")
 String7("female")
 String7("female")
 String7("female")
 String7("female")
 String7("male")
 String7("female")
 String7("male")
 String7("male")
 String7("male")

In [39]:
X_train = select(train_df, features)
y_train = coerce(train_df.Survived, Multiclass)

714-element CategoricalArray{Int64,1,UInt32}:
 0
 1
 1
 1
 0
 0
 0
 1
 1
 1
 1
 0
 0
 ⋮
 0
 1
 1
 0
 0
 0
 0
 0
 0
 1
 1
 0

### Usando e treinando o modelo OneHotEncoder

In [40]:
hot = OneHotEncoder()
model = LogisticClassifier()
pipe = hot |> model

mach = machine(pipe, X_train, y_train)
fit!(mach)

[ Info: Training machine(ProbabilisticPipeline(one_hot_encoder = OneHotEncoder(features = Symbol[], …), …), …).
[ Info: Training machine(:one_hot_encoder, …).
[ Info: Spawning 2 sub-features to one-hot encode feature :Sex.
[ Info: Training machine(:logistic_classifier, …).
┌ Warning: f_tol is deprecated. Use f_abstol or f_reltol instead. The provided value (0.0001) will be used as f_reltol.
└ @ Optim ~/.julia/packages/Optim/8dE7C/src/types.jl:120
┌ Info: Solver: LBFGS{Optim.Options{Float64, Nothing}, @NamedTuple{}}
│   optim_options: Optim.Options{Float64, Nothing}
└   lbfgs_options: @NamedTuple{} NamedTuple()

trained Machine; does not cache data
  model: ProbabilisticPipeline(one_hot_encoder = OneHotEncoder(features = Symbol[], …), …)
  args:
    1:	Source @982 ⏎ Table{Union{AbstractVector{Continuous}, AbstractVector{Count}, AbstractVector{Multiclass{2}}}}
    2:	Source @188 ⏎ AbstractVector{Multiclass{2}}

### Prevendo com o arquivo test.csv

In [45]:
# 1. Recarrega X_test com imputação
for col in [:Age, :Fare]
    test_df[!, col] = coalesce.(test_df[!, col], mean(skipmissing(test_df[!, col])))
end

test_df.Sex = categorical(test_df.Sex)
X_test = test_df

# 2. Predição
y_pred = predict_mode(mach, X_test)

418-element CategoricalArray{Int64,1,UInt32}:
 0
 0
 0
 0
 1
 0
 1
 0
 1
 0
 0
 0
 1
 ⋮
 0
 0
 1
 1
 1
 1
 1
 0
 1
 0
 0
 0

### Célular para gerar o CSV para envio no Kaggle

In [50]:
submission = DataFrame(
    PassengerId = test_ids,
    Survived = convert(Vector{Int}, y_pred)  # Converte de CategoricalVector{Int} para Vector{Int}
)
CSV.write("submission.csv", submission)

"submission.csv"